.doctorAppointmentContainer {
  width: 100%;
  display: flex;
  gap: 2.64%;
}

.doctorAppointmentCalenderContainer {
  width: 100%;
  width: 71.19%;
}

.doctorAppointmentRequestsContainer {
  width: 26.17%;
}
