.specCardWrapper,
.specCardContainer,
.filterCardContainer {
  position: relative;
  width: 1128px;
  height: 36px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
}

.specCardContainer {
  overflow: hidden;
}

.specOuter {
  width: fit-content;
  flex-shrink: 0;
  height: 36px;
  padding: 8px 15px;
  gap: 10px;
  border-radius: 3px;
  border: 1px solid rgba(125, 125, 125, 1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 1);
  user-select: none;
}

.activeSpec {
  background: rgba(31, 239, 202, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}

.specOuter:hover:not(.activeSpec) {
  border: 1px solid rgba(31, 239, 202, 1);
  color: rgba(31, 239, 202, 1);
  box-shadow: 0px 2px 4.7px 0px rgba(90, 90, 90, 0.1);
}

.title {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.arrowContainer {
  position: absolute;
  top: 8px;
  right: -20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 14.1px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}
