.topSectionContainer {
  padding: 25px 0;
  border-radius: 10px;
  background: rgba(245, 245, 245, 1);
}

.topSection {
  width: 90.5%;
  width: fit-content;
  width: 95%;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.innerSection {
  box-sizing: border-box;
  width: 47.6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgContainer {
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(216, 255, 248, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.upcomingClassContainer {
  min-width: 270px;
  max-width: 270px;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 25px;
}

.totalCount,
.upcoming,
.week {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 0.52em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.upcoming {
  font-size: 24px;
  line-height: 1.04em;
}

.week {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.56em;
  color: rgba(187, 187, 187, 1);
}

.schedule {
  width: 145px;
  height: 49px;
  margin-left: 0px;
  padding: 12px 18px 12px 18px;
  border-radius: 8px;
  background-color: rgba(11, 219, 182, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56em;
  text-align: left;
}

.midContainer {
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  gap: 23px;
  gap: 4.3%;
}

.cardOuter {
  width: 227px;
  width: 30.4%;
  height: fit-content;
  padding: 18px 0 18px 23px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 1);
}

.title,
.count,
.percentage {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.detailsContainer {
  width: 148px;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.count {
  font-size: 36px;
  font-weight: 500;
  line-height: 0.69em;
  margin-right: 15px;
}

.percentage {
  color: rgba(26, 186, 119, 1);
}

.month {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

@media (max-width: 1100px) {
  .upcoming {
    font-size: 22px;
  }

  .count {
    font-size: 25px;
  }

  .detailsContainer {
    gap: 4px;
  }
}

@media (max-width: 800px) {
  .upcoming {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .topSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .innerSection {
    width: 90%;
  }

  .midContainer {
    flex-direction: column;
    align-items: center;  
    gap: 20px;
  }

  .cardOuter{
  width: 227px;
  }


}
