.doctorDashboardOuter {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  padding-right: 20px;
  gap: 15px;
  position: relative;
}

.rightPart {
  width: 100%;
  height: fit-content;
  margin-left: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
}

.locationFilterPara {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.para,
.paraSpan {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.paraSpan {
  color: rgba(11, 219, 182, 1);
}

.mainSection {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 1.4%;
}

.leftArea {
  width: 67.5%;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px; /**/
}

.cardsContainer {
  height: fit-content;
  display: flex;
  gap: 1.3%;
}

.cardOuter {
  width: 184px;
  width: 24%;
  height: 93px;
  border-radius: 4px;
  background: rgba(245, 245, 245, 1);
  border: 1px solid rgba(249, 249, 249, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.iconDiv {
  width: 33px;
  height: 29px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailDiv {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.title,
.qty {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25em;
  text-align: center;
  color: rgba(140, 140, 140, 1);
}

.qty {
  font-size: 27px;
  line-height: 0.93em;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.midSection {
  width: 728px;
  width: 96.3%;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  gap: 20px;
  gap: 4.1%;
}

.dashboardFooter {
  height: 48px;
  margin: 0;
  margin-top: -20px;
  padding: 16px 0;
  padding-left: 450px;
  padding-left: 0px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px -1px 4px 0px rgba(200, 200, 200, 0.15);
  display: flex;
  align-items: center;
  position: fixed;
  position: sticky;
  width: 100%;
  left: 0px;
  bottom: 0px;
}

.dashboardFooterPara {
  margin: 0 auto;
  padding: 0;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33em;
  text-align: center;
  color: rgba(101, 101, 101, 1);
}

.rightArea {
  width: 31.1%;
  height: fit-content;
}

/**/
@media (max-width: 500px) {
  .cardsContainer {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
  }

  .cardOuter {
    width: 184px;
  }
}
/**/

@media (max-width: 780px) {
  .rightPart {
    margin-left: 15px;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .cardsContainer {
    width: 100%;
    width: 500px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
  }

  .cardOuter {
    width: 184px;
    flex-shrink: 0;
  }
}

@media (max-width: 1100px) {
  .mainSection {
    flex-direction: column;
    gap: 25px;
  }

  .leftArea {
    width: 100%;
  }

  .rightArea {
    width: 100%;
  }
}

@media (min-width: 400px) and (max-width: 1100px) {
  .midSection {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
