.outerSection {
  box-sizing: border-box;
  background: white;
}

.innerSection {
  box-sizing: border-box;
  width: 1128px;
  margin: 0 auto;
}

.searchContainer {
  box-sizing: border-box;
  width: 937px;
  margin: 0 auto;
  margin-top: 19px;
}

.contentContainer {
  box-sizing: border-box;
  height: fit-content;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 64px;
}

.left {
  box-sizing: border-box;
  width: 320px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.leftTop {
  box-sizing: border-box;
  padding: 10px 15px 10px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  background: rgba(252, 252, 252, 1);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.02),
    0px 2px 2px 0px rgba(0, 0, 0, 0.02), 0px 5px 3px 0px rgba(0, 0, 0, 0.01),
    0px 8px 3px 0px rgba(0, 0, 0, 0), 0px 13px 4px 0px rgba(0, 0, 0, 0);
}

.imgDiv {
  box-sizing: border-box;
  width: 70px;
  height: 70px;
}

.img {
  height: 100%;
  width: 100%;
}

.nameDiv {
  box-sizing: border-box;
  width: 136px;
  height: 58px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.greeting,
.name {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.name {
  font-size: 20px;
  font-weight: 600;
}

.leftBtm {
  box-sizing: border-box;
  height: 520px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.02),
    0px 2px 2px 0px rgba(0, 0, 0, 0.02), 0px 5px 3px 0px rgba(0, 0, 0, 0.01),
    0px 8px 3px 0px rgba(0, 0, 0, 0), 0px 13px 4px 0px rgba(0, 0, 0, 0);
  color: rgba(110, 110, 110, 1);
}

.btmDiv1,
.btmDiv2,
.btmDiv3,
.btmDiv2A {
  box-sizing: border-box;
  width: 320px;
  height: fit-content;
  padding: 17px 26px 17px 26px;
  border: 0px 0px 1px 0px;
  border-bottom: 1px solid rgba(240, 240, 240, 1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background: rgba(252, 252, 252, 1);
}

.btmDiv1 {
  border-radius: 4px 4px 0px 0px;
}

.btmDiv3 {
  border-radius: 0px 0px 4px 4px;
}

.para1,
.para2,
.para3,
.paraDelete {
  box-sizing: border-box;
  width: fit-content;
  padding: 0;
  margin: 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
}

.para2,
.para3 {
  font-size: 15px;
}

.btmDiv4,
.btmDiv5 {
  box-sizing: border-box;
  width: 320px;
  height: 152px;
  border: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(240, 240, 240, 1);
  background: rgba(252, 252, 252, 1);
}

.btmDiv2A {
  border: none;
  padding: 17px 26px 12px 26px;
}

.option1 {
  box-sizing: border-box;
  height: 39px;
  padding: 7px 70px 7px 70px;
}

.btmDiv5 {
  height: 191px;
}

.paraDelete {
  color: rgba(215, 80, 80, 1);
}

.right {
  box-sizing: border-box;
  width: 600px;
  height: 460px;
  top: 207px;
  left: 540px;
  padding: 30px 0px 30px 20px;
  padding-right: auto;
}
