.cardContainer {
  box-sizing: border-box;
  width: 552px;
  height: 88px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(248, 248, 248, 1);
}

.cardInnerContainer {
  box-sizing: border-box;
  width: 504px;
  height: fit-content;
  border-radius: 8px; /*confirm on final layout for removal*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15.97px;
}

.topDiv {
  box-sizing: border-box;
  width: 504px;
  height: 39.93px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.heading {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 403.02px;
  height: 23.96px;
  top: 100.98px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: rgba(34, 34, 34, 1);
}

.image {
  box-sizing: border-box;
  width: 40px;
  height: 39.93px;
  border-radius: 8px;
}

.btmDiv {
  box-sizing: border-box;
  width: 429.02px;
  height: 71.88px;
}

.para {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  color: rgba(125, 125, 125, 1);
}

.faqOuter {
  box-sizing: border-box;
  height: 548px;
  padding: 85px 0px;
  background: rgba(255, 255, 255, 1);
  margin: auto;
}

.faqInner {
  box-sizing: border-box;
  width: 1128px;
  height: 478px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.faqHeading {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 627px;
  height: 28px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: rgba(34, 34, 34, 1);
  overflow: hidden;
}

.faqHeadingSpan {
  color: rgba(11, 219, 182, 1);
}

.faqBtmContainer {
  box-sizing: border-box;
  width: 1128px;
  height: 300px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.CardContainer1 {
  box-sizing: border-box;
  display: flex;
  gap: 24px;
}
