.cardOuterDiv1 {
  box-sizing: border-box;
  width: 362.28px;
  height: 393px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.cardTopDiv1 {
  box-sizing: border-box;
  width: 362.28px;
  height: 196px;
  border-radius: 10px;
}

.cardLowerDiv1 {
  box-sizing: border-box;
  width: 355.26px;
  height: 176px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headingCard {
  box-sizing: border-box;
  width: 355.26px;
  height: 48px;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: rgba(34, 34, 34, 1);
}

.para {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 354.26px;
  height: 120px;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
  color: rgba(125, 125, 125, 1);
}

.cardOuterDiv2 {
  box-sizing: border-box;
  width: 360.28px;
  height: 393px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.cardTopDiv2 {
  box-sizing: border-box;
  width: 360.28px;
  height: 196px;
  top: 108px;
  left: 386.37px;
  gap: 0px;
  border-radius: 10px;
}

.cardLowerDiv1 {
  box-sizing: border-box;
  width: 357.27px;
  height: 176px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardOuterDiv3 {
  box-sizing: border-box;
  width: 358.27px;
  height: 393px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.cardTopDiv3 {
  box-sizing: border-box;
  width: 358.27px;
  height: 196px;
  border-radius: 10px;
}

.cardLowerDiv3 {
  box-sizing: border-box;
  width: 358.27px;
  height: 176px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
/**/
.blogsOutermostContainer {
  box-sizing: border-box;
  width: 1440px;
  height: 671 px;
  padding: 85px 155px 85px 156px;
  background: rgba(246, 253, 248, 1);
}

.blogsInnerContainer {
  box-sizing: border-box;
  width: 1129px;
  height: 501px;
}

.blogsTopDiv {
  box-sizing: border-box;
  width: 728px;
  height: 58px;
  margin-left: 401px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topLeft {
  box-sizing: border-box;
  width: 327px;
  height: 58px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading {
  box-sizing: border-box;
  width: 224px;
  height: 32px;
  margin: 0 auto;
  padding: 0;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.heading {
  color: rgba(11, 219, 182, 1);
}

.paraCard {
  box-sizing: border-box;
  width: 327px;
  height: 16px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: rgba(125, 125, 125, 1);
}

.topRight {
  box-sizing: border-box;
  width: 75px;
  height: 26px;
  border: 1px solid rgba(11, 219, 182, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.view {
  box-sizing: border-box;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.campaignBtmDiv {
  box-sizing: border-box;
  margin-top: 50px;
  width: 1129px;
  height: 393px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
