.suggestionsOutermost {
  position: absolute;
  top: 95px;
  left: 241px;
  box-sizing: border-box;
  width: 697px;
  margin-left:  auto;
  margin-top: 10px;
  z-index: 500;

}
.suggestionsOuter {
  box-sizing: border-box;
  width: 697px;
  height: 327px;
  padding: 21px 20px 21px 21px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(150, 150, 150, 1);
}

.topDiv {
  box-sizing: border-box;
  width: 652.09px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.recent,
.search,
.clear {
  box-sizing: border-box;
  font-family: Poppins;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.8em;
  letter-spacing: 0.25px;
  text-align: left;
  color: rgba(147, 143, 150, 1);
}

.div1 {
  box-sizing: border-box;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4.65px;
}

.search {
  color: rgba(110, 110, 110, 1);
  margin: 0;
}

.right {
  box-sizing: border-box;
  width: 47px;
  height: 21px;
}

.clear {
  font-size: 10.24px;
  font-weight: 500;
  line-height: 2em;
  letter-spacing: 0.4266666769981384px;
  text-align: center;
  color: rgba(17, 126, 217, 1);
}

.btmDiv {
  box-sizing: border-box;
  margin-top: 20px;
  width: 655px;
  height: 195px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trending,
.searchCard {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.8em;
  letter-spacing: 0.25px;
  text-align: left;
  color: rgba(147, 143, 150, 1);
}

.cardsContainer {
  box-sizing: border-box;
  width: 655px;
  height: 165px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px 25px;
}

.cardDiv {
  box-sizing: border-box;
  width: 128px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid rgba(220, 220, 220, 1);
  display: flex;
}

.searchCard {
  color: rgba(140, 140, 140, 1);
}

.image {
  box-sizing: border-box;
  width: 16px;
  height: 9.6px;
  margin-left: 5px;
}
