.cardOuter {
  width: 776px;
  height: 280px;
  padding-left: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 91px;
  border: 1px solid rgba(230, 230, 230, 1);
}

.cardLeft {
  width: 596px;
  height: 209px;
  margin-top: 35.75px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.imgDiv {
  width: 140px;
  height: 209px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.image {
  width: 140px;
  height: 140px;
}

.ratingContainer {
  width: 45.13px;
  height: 29px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 4.5px;
  background: rgba(35, 146, 80, 1);
  color: white;
}

.rating,
.reviews {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.reviews {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  margin: 0 auto;
}

.details {
  width: Hug (436px) px;
  height: Hug (206px) px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name,
.title,
.qual,
.address,
.action,
.action1 {
  width: fit-content;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.name {
  width: 300px;
  height: 36px;
  color: rgba(11, 219, 182, 1);
}

.title,
.qual {
  height: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.qual {
  height: 19px;
  line-height: 19.2px;
}

.address {
  font-size: 20px;
  line-height: 29.93px;
  margin-top: 5px;
}

.btnContainer {
  width: 436px;
  height: 37px;
  display: flex;
  gap: 27px;
  margin-top: 11px;
}

.call,
.call1 {
  width: fit-content;
  padding: 7.5px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
  border-radius: 7.5px;
  border: 0.75px solid rgba(0, 0, 0, 1);
  cursor: pointer;
}

.call1 {
  border: 0px solid rgba(0, 0, 0, 1);
  background: rgba(11, 219, 182, 1);
  box-shadow: 0px 1.5px 3px 0px rgba(0, 66, 0, 0.1),
    0px 4.5px 4.5px 0px rgba(0, 66, 0, 0.09),
    0px 10.5px 6px 0px rgba(0, 66, 0, 0.05),
    0px 18px 7.5px 0px rgba(0, 66, 0, 0.01),
    0px 28.5px 7.5px 0px rgba(0, 66, 0, 0);
}

.action1 {
  color: rgba(255, 255, 255, 1);
}

.action,
.action1 {
  font-size: 14px;
  line-height: 21px;
}

.icon {
  width: 18px;
  height: 18px;
}

.icon2 {
  width: 22px;
  height: 22px;
}

.cardRight {
  width: 19.23px;
  height: 58px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
