.outer {
  width: 324px;
  width: 100%;
  height: fit-content;
  padding: 25px 1px;
  padding-top: 27px;
  border-radius: 10px;
  background: rgba(245, 245, 245, 1);
}

.appointment {
  width: 280px;
  width: 86%;
  height: 25px;
  margin: auto;
  margin-top: 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.todayAppointment,
.totalAppointment {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.39em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.totalAppointment {
  width: 280px;
  width: 86%;
  margin: auto;
  margin-top: 7px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.67em;
  text-align: left;
}

.timeAndCard {
  width: 290px;
  width: 86%;
  height: fit-content;
  margin: auto;
  margin-top: 29px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  gap: 6.8%;

}

.timeDiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.time {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.78em;
  text-align: left;
  color: rgba(133, 133, 133, 1);
}

.cardDiv {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.cardouter {
  position: relative;
  width: 232px;
  height: 78px;
  padding-left: 15px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  background: rgba(237, 237, 237, 1);
  border: 1px solid rgba(216, 236, 233, 1);
}

.nameContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.patientImage {
  width: 50px;
  height: 50px;
}

.name,
.visitTime {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.visitTime {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.78em;
  color: rgba(133, 133, 133, 1);
}
