.calendar {
  width: 280px;
  width: 86%;
  margin: auto;
  height: 164px;
  background: rgba(245, 245, 245, 1);
  position: relative;
}

.header {
  width: 100%;
  height: 36px;
  margin: 0 auto;
  margin-bottom: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header span {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.04em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.icon {
  cursor: pointer;
}

.dayNames,
.dates1 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 91.7%;
}

.dayName,
.date {
  width: 31px;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 31px; /* Center the text vertically */
}

.dayNames {
  height: 25px;
}


.dates1 {
  height: 31px;
  margin-top: 6px;
}

.date {
  cursor: pointer;
  user-select: none;
}

.selectedDateWeekView,
.selectedDateMonthView {
  color: white;
  background-color: rgba(11, 219, 182, 1);
  border-radius: 50%;
}

.selectedDateWeekView {
  width: 31px;
  height: 31px;
}

.selectedDateMonthView {
  width: 31px;
  height: 31px;
}

.monthView {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  background: rgba(245, 245, 245, 1);
  border-radius: 4px;
  padding: 10px;
  z-index: 1000;
  width: 100%;
}

.monthViewHeader {
  margin-bottom: 10px;
}

.monthViewDates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  max-width: 100%;
}

.monthViewDate {
  text-align: center;
  padding: 5px;
}
