.searchOuter {
  height: 68px;
  margin-top: 20px;
  padding: 14px 27px;
  border-radius: 8px;
  background-color: rgba(242, 242, 242, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lensDiv {
  width: 635px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 18px;
  border-radius: 8px;
  padding: 0 15px;
  background-color: rgba(255, 255, 255, 1);
}

.input {
  width: 100%;
  cursor: pointer;
  outline: none;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.79em;
  text-align: left;
}

.iconDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 23px;
}

.icon {
  cursor: pointer;
}
