@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.outerContainer {
  box-sizing: border-box;
  height: 800px;
  padding-top: 66px;
  padding-bottom: 65.74px;
  background: rgba(246, 253, 248, 1);
  box-shadow: inset 0px 5px 42px 2px rgba(0, 0, 0, 0.06);
}

.innerDiv {
  box-sizing: border-box;
  width: 1126px;
  height: 668.26px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 118px;
}

.leftDiv {
  box-sizing: border-box;
  width: 494px;
  border-radius: 33.45px;
  box-shadow: 0px 0px 77.8px 0px rgba(0, 0, 0, 0.15);
  object-fit: contain;
}

.leftDivImage {
  box-sizing: border-box;
  border-radius: 33.45px;
}

.rightDiv {
  box-sizing: border-box;
  width: 514px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.rightTop {
  box-sizing: border-box;
  width: 514px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.heading {
  box-sizing: border-box;
  height: 56px;
  padding: 0px;
  margin: 0 auto;
  margin-bottom: 3px;
  font-family: "Poppins";
  font-size: 37.13px;
  font-weight: 500;
  line-height: 1.5em;
  text-align: left;
}

.inputEmail,
.inputPassword {
  box-sizing: border-box;
  width: 513.25px;
  height: 48px;
  padding: 13.35px 19px 15.65px 15.78px;
  padding: 10px 19px 10px 15.78px;
  margin-top: 27px;
  border-radius: 8px;
  border: 1px solid rgba(147, 143, 150, 1);
  font-family: "Poppins";
  font-size: 14.85px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(140, 140, 140, 1);
  background: transparent;
  color: rgba(0, 0, 0, 1)
  ;
}

.para {
  box-sizing: border-box;
  height: 24px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  text-align: left;
  color: rgba(11, 219, 182, 1);
}

.button {
  box-sizing: border-box;
  width: 514px;
  height: 48px;
  margin-top: 30px;
  gap: 9.28px;
  border-radius: 9.28px;
  font-family: "Poppins";
  font-size: 22.27px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background: rgba(11, 219, 182, 1);
}

.button:hover {
  background: rgba(31, 239, 202, 1);
  box-shadow: 0px 2px 4.7px 0px rgba(90, 90, 90, 0.1);
  color: rgba(255, 255, 255, 1);
}

.rightBtm {
  box-sizing: border-box;
  width: 269.15px;
  height: 87.59px;
  margin: auto;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 18.56px;
}

.iconImg1:hover,
.iconImg2:hover,
.iconImg3:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.segregationDiv {
  box-sizing: border-box;
  width: 269.15px;
  height: 21px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.segLeft,
.segRight {
  box-sizing: border-box;
  width: 111.38px;
  height: 1px;
  gap: 0px;
  border: 0.93px solid rgba(230, 237, 254, 1);
  background-color: rgba(230, 237, 254, 1);
}

.segPara {
  box-sizing: border-box;
  width: 20px;
  height: 21px;
  margin: 0px 13px;
  padding: 0;
  font-family: "Poppins";
  font-size: 13.92px;
  font-weight: 600;
  line-height: 1.5em;
  text-align: left;
  color: rgba(170, 177, 194, 1);
}

.iconDiv {
  box-sizing: border-box;
  width: 185.86px;
  height: 48.03px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20.88px;
}

.icon1,
.icon2,
.icon3 {
  box-sizing: border-box;
  width: 48.03px;
  height: 48.03px;
  border-radius: 50%;
  cursor: pointer;
}

.icon1 {
  background: rgba(231, 231, 231, 1);
}

.icon2 {
  background: rgba(24, 119, 242, 1);
}

.icon3 {
  background: rgba(0, 0, 0, 1);
}

.iconImg1 {
  box-sizing: border-box;
  width: 22.97px;
  height: 24.02px;
  position: relative;
  top: 11.49px;
  left: 12.53px;
  gap: 0px;
}

.iconImg2 {
  box-sizing: border-box;
  width: 31.32px;
  height: 31.32px;
  position: relative;
  top: 6.26px;
  left: 8px;
  gap: 0px;
}

.iconImg3 {
  box-sizing: border-box;
  width: 20.88px;
  height: 24.79px;
  position: relative;
  top: 10.44px;
  left: 12px;
  gap: 0px;
}

.terms {
  box-sizing: border-box;
  width: 387px;
  height: 20px;
  margin: auto;
  margin-top: 15px;
  font-family: "Poppins";
  font-size: 10px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(170, 170, 170, 1);
}

.errorPara {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: rgba(215, 80, 80, 1);
}
