.outer {
  width: 756px;
  height: fit-content;
  height: 552px;
  padding: 23px 26px 23px 26px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  border-radius: 10px;
  background: rgba(245, 245, 245, 1);
}

.dataContainer {
  width: 704px;
  height: 94px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}

.top {
  width: 704px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.chartFilter {
  width: 216px;
  height: 29px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 34px;
}

.week,
.month,
.year {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.selected {
  padding: 2px 12px 2px 12px;
  border-radius: 3px;
  color: rgba(255, 255, 255, 1);
  background: rgba(11, 219, 182, 1);
}

.legendContainer {
  margin: 0;
  padding: 0;
  width: fit-content;
  height: 25px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.legend {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  gap: 8px;
}

.colorSquare {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
