.cardOuter {
  width: 769px;
  height: 280px;
  padding: 34px 26.5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 10px;
  color: rgba(0, 0, 0, 1);
}

.cardLeft {
  width: 526px;
  width: fit-content;
  height: 212px;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.imgDiv {
  width: 140px;
  height: 209px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.image {
  width: 140px;
  height: 140px;
}

.ratingContainer {
  width: 45.13px;
  height: 29px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 4.5px;
  background: rgba(35, 146, 80, 1);
  color: white;
}

.rating,
.reviews {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.reviews {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  margin: 0 auto;
}

.details {
  width: fit-content;
  width: 366px;
  height: 212px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name,
.title,
.qual,
.address,
.action,
.action1 {
  width: fit-content;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
}

.name {
  width: 300px;
  height: 36px;
  color: rgba(11, 219, 182, 1);
}

.title,
.qual {
  height: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.title2 {
  font-weight: 500;
  line-height: 19.2px;
  color: rgba(0, 0, 0, 1);
}

.qual {
  height: 19px;
  line-height: 19.2px;
}

.address {
  font-size: 20px;
  line-height: 29.93px;
  margin-top: 5px;
}

.btnContainer {
  width: 436px;
  height: 37px;
  display: flex;
  gap: 27px;
  margin-top: 11px;
}

.call,
.call1 {
  width: fit-content;
  padding: 7.5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
  border-radius: 7.5px;
  border: 0.75px solid rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}
.call:hover:not(.clickedAppointment) {
  border: 1px solid rgba(31, 239, 202, 1);
  box-shadow: 0px 2px 4.7px 0px rgba(90, 90, 90, 0.1);
  color: rgba(31, 239, 202, 1);
}

.clickedAppointment {
  border: 1px solid transparent;
  background: rgba(31, 239, 202, 1);
  color: rgba(255, 255, 255, 1);
}

.call1 {
  border: 0px solid rgba(0, 0, 0, 1);
  background: rgba(11, 219, 182, 1);
}

.call1:hover {
  background: rgba(31, 239, 202, 1);
  box-shadow: 0px 2px 4.7px 0px rgba(90, 90, 90, 0.1);
}

.action1 {
  color: rgba(255, 255, 255, 1);
}

.action,
.action1 {
  font-size: 14px;
  line-height: 21px;
}

.icon {
  width: 18px;
  height: 18px;
}

.icon2 {
  width: 22px;
  height: 22px;
}

.cardRight {
  width: fit-content;
  width: 19.23px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cardRightImg1 {
  width: 19.23px;
  height: 20px;
}

.cardRightImg2 {
  width: 19px !important;
  height: 18px;
}

.heartClicked {
  margin: 0;
  padding: 0;
  /*transition: width 0.5s ease, height 0s ease;*/
}

.rate,
.lessons {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.lessons {
  font-size: 12px;
  font-weight: 300;
  line-height: 19.5px;
  color: rgba(110, 110, 110, 1);
  text-align: left;
}

.customQual4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  color: rgba(0, 0, 0, 1);
}
