.outer {
  width: 728px;
  height: 418px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.topDiv {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.btnContainer {
  width: 114px;
  height: 35px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
  user-select: none;
}

.back,
.next {
  width: 20px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid rgba(220, 220, 220, 1);
  cursor: pointer;
}

.next{
    border: none;
    border-left: 0.5px solid rgba(220, 220, 220, 1)
}

.week {
  width: 74px;
  height: 25px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25em;
  text-align: center;
}

.casesContainer {
  width: 661px;
  height: 363px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 26px 33px;
}

.case {
  width: 314px;
  height: 168px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(245, 245, 245, 1);
  border-radius: 10px;
}

.date,
.name {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25em;
  text-align: left;
}

.imageContainer {
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56em;
}

.detailsContainer {
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: fit-content;
  height: 43px;
}

.about,
.value {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.08em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.value {
  color: rgba(147, 147, 147, 1);
}
